apiVersion: v1
kind: Service
metadata:
  name: webhook-server
  namespace: system
  labels:
    control-plane: webhook-server
    app.kubernetes.io/name: terrakojo
    app.kubernetes.io/managed-by: kustomize
spec:
  type: NodePort
  selector:
    control-plane: webhook-server
    app.kubernetes.io/name: terrakojo
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
    nodePort: 30080
