---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - terrakojo.io
  resources:
  - branches
  - repositories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - terrakojo.io
  resources:
  - branches/finalizers
  - repositories/finalizers
  - workflows/finalizers
  verbs:
  - update
- apiGroups:
  - terrakojo.io
  resources:
  - branches/status
  - repositories/status
  - workflows/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - terrakojo.io
  resources:
  - workflows
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - terrakojo.io
  resources:
  - workflowtemplates
  verbs:
  - get
  - list
  - watch
