---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - terraform.terrakojo.io
  resources:
  - terraformbranches
  - terraformrepositories
  - terraformruns
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - terraform.terrakojo.io
  resources:
  - terraformbranches/finalizers
  - terraformrepositories/finalizers
  - terraformruns/finalizers
  verbs:
  - update
- apiGroups:
  - terraform.terrakojo.io
  resources:
  - terraformbranches/status
  - terraformrepositories/status
  - terraformruns/status
  verbs:
  - get
  - patch
  - update
